/* ===============================
   ESTILOS DO COMPONENTE SOBRE
   =============================== */

/* Estilo do conteúdo principal */
main {
  margin-top: 30px;
  width: 90%;
  max-width: 900px;
  text-align: center;
}

/* Título da seção Sobre */
main h1 {
  color: #005b96;
  margin-bottom: 20px;
  font-size: 1.9em;
  text-align: center;
}

/* Parágrafo de descrição */
main p {
  color: #444;
  line-height: 1.5;
  font-size: 1em;
  background-color: transparent; /* Remove o fundo azul herdado do estilo global */
  padding: 30;
  position: static;
  width: auto;
  bottom: auto;
  letter-spacing: normal;
  text-align: center;
}
