footer {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(to right, #6600cc, #ff66cc);
    border-top: 2px dashed #ffccff;
    box-shadow: 0 0 10px #ff00ff inset;
  }
  
  footer p {
    font-size: 1rem;
    color: #fff;
    font-style: italic;
    text-shadow: 1px 1px 2px #000;
  }
  